:root {
  --s: 75px; /* Control del tamaño */
  /* Modo claro (por defecto) */
  --c1: #1C1C1C;
  --c2: #1F1F1F;
  --text: #E6E6E6;
  --text-secondary: #E6E6E6;
  --background: #202020;
  --background-secondary: #242424;
  --border: #E6E6E6;
  --color-shader: 0 2.5px 5px #fff1;
  --logo-color: brightness(100%);
  
  /* Gradientes */
  --c: #0000 75%, var(--c1) 0;
  --g1: conic-gradient(at calc(200%/3) 10%, var(--c));
  --g2: conic-gradient(at 10% calc(200%/3), var(--c));
}

.light-mode {
  --c1: #F6F6F6;
  --c2: #FFFFFF;
  --text: #444444;
  --text-secondary: #131313;
  --background: #ffffff;
  --background-secondary: #ffffff;
  --border: #AEAEAE;
  --color-shader: 0 2.5px 5px #0005;
  --logo-color: brightness(25%);
}

html {
  background: var(--g1), var(--g2),
    var(--g1) var(--s) var(--s),
    var(--g2) var(--s) var(--s),
    var(--g1) calc(2*var(--s)) calc(2*var(--s)),
    var(--g2) calc(2*var(--s)) calc(2*var(--s)) var(--c2);
  background-size: calc(3*var(--s)) calc(3*var(--s));

  scroll-behavior: smooth;
}

@font-face {
  font-family: 'rubik';
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Evita que el padding afecte el ancho */
}

body {
  color: var(--text);
  font-family: "rubik", Arial, Helvetica, sans-serif;
  
}

/* HEADER */
.window {
  padding: 8px 12px;
  background: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0 2.5px 1px #0004;
}

.logos {
  display: flex;
  align-items: center;
}

.logo-text {
  width: 140px;
  filter: var(--logo-color);
}

.logo {
  width: 40px;
  margin-right: 10px;
  filter: var(--logo-color);
}


.options {
  display:none;
}

.burger {
  font-size: 25px;
  background: 0;
  width: 30px;
  height: 30px;
  border: 0;
  color: var(--text);
}

.thema {
  font-size: 25px;
  margin-right: 5px;
  background: 0;
  width: 30px;
  height: 30px;
  border: 0;
  color: var(--text);
}

/* NAVEGADOR */
.browser {
  background: var(--background);
  box-shadow: 0 5px 5px #0005;
  padding: 12px;
  position: fixed;
  z-index: 9;
  top: 55px;
  width: 100%;
}

.browser-option {
  color: var(--text-secondary);
  font-weight: 100;
  font-size: 12px;
}

/* CONTENEDOR DE TARJETAS */
.all-slot {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 100px;
  align-items: center;
  
}

.slot {
  box-shadow:var(--color-shader);
  background: var(--background);
  border: 0px solid var(--border);
  width: 90%;
  max-width: 440px;
  margin: 10px auto;
  flex-direction: row;
  border-radius: 0;
  position: relative;
  transition: transform .5s ease;
  -webkit-tap-highlight-color: transparent;
}
.slot:active {
  transform: scale(1.1);
}

.slot-link {
  display: flex;
  flex-direction: column;
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  user-select: none;
}

.slot-img {
  width: 95%;
  height: 150px;
  margin: 10px auto 0;
  border: 1px solid white;
  border-radius: 2.5px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
  mask-image: linear-gradient(0deg, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
  user-select: none;
  pointer-events: none;
}

.slot-text {
  text-align: center;
  transform: translate(-50%);
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 80%;
  text-transform: uppercase;
}

/* MANEJO DE DESCARGAS */
.curso-text {
  margin: 0px;
  text-align: center;
  color: var(--text);
}

.curso-descargar {
  background: #7DA0CA;
  color: white;
  text-decoration: none;
  padding: 5px;
  bottom: 0;
  margin: 0;
  text-align: center;
}

.curso-img {
  width: 100%;
  margin: auto;
}

.curso-container {
  box-shadow:var(--color-shader);
  background: var(--background);
  border: 0.05px solid var(--border);
  width: 100%;
  max-width: 300px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}


/*BURGER-----*/

.burgerDiv {
  width: 75%;
  min-height: 100vh;
  background: var(--background);
  position: fixed;
  top: 0;
  right: 0;
  color: var(--text); 
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  z-index:13;
  border-left: 2.5px solid var(--text);
  display: none;
  
}

.burger-sections {
  color: var(--color);
  text-decoration: none;
  margin-left: 5px;
}

.burgerDiv > h3 {
  margin-bottom: 10px;
}


/*Pie de pagina*/



.site-footer {
    background-color: var(--background);
    color: #ddd;
    padding: 0px 0;
    font-family: Arial, sans-serif;
    border-top: .5px solid var(--text);
    font-size: 10px;
    position: absolute;
    margin-top: 100px;
    width: 100%;
    
}

.site-footer a {
    color: #ddd;
    text-decoration: none;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 0 10px;
}


.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #fff;
}

.footer-bottom {
    background-color: #111;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}



.img-whatsapp {
  width: 10px;
  height: 10px;

}

/*Informacion*/
.informacion {
  background: #000c;
  border: .5px solid white;
  border-radius: 10px;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 15;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 5px black;
  max-width: 300px;
}

.informacion > p {
  margin-bottom: 20px;
}

.informacion > a {
  color: var(--text);
}

#closex {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 25px;
  width: 25px;
  color: var(--text);
  background: 0;
  border: .5px solid var(--text);
  border-radius: 100%;
}
